<section class="splash h-flex h-flex-column h-flex-justify-center h-flex-align-center h-text-center">
  <div class="hydrogen">
    <span class="atomic">1</span>
    <span class="weight">1.0079</span>
    <span class="symbol">H</span>
    <span class="name">Hydrogen</span>
  </div>

  <h2 class="subtitle">A modular CSS foundation<br />designed for minimalists.</h2>
  <a class="h-btn" href="https://github.com/pimbrouwers/hydrogen" target="_blank">GitHub</a>
  
</section>