<!DOCTYPE html>
<html>
  <head>
    <title>{{metadata.title}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="{{description}}">
    <link href="app.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    {{>splash}}

    {{>benefits}}

    {{>docs}}

    {{>footer}}
  </body>
</html>