.h-input-group {
  .h-flex;

  .h-input-group-addon {
    background: @gray;
    border: 1px solid @rare;
    font: inherit;
    padding:@base * .75;
  }

  .h-input-group-addon, .h-input-group-field {
    border-left: 0;
  }

  .h-input-group-addon:first-child, .h-input-group-field:first-child {
    border-left: 1px solid @rare;
  }

  .h-input-group-field {    
    margin: 0;
    min-width: 0;
  }
}

.h-input-group-stack {
  .h-flex-column;

  .h-input-group-addon, .h-input-group-field {
    border: 1px solid @rare;
    border-top: 0;
  }

  .h-input-group-addon:first-child, .h-input-group-field:first-child {
    border-top: 1px solid @rare;
  }
}