.h-list-group {
  line-height: 1;
  
  .h-list-group-item {
    border: 1px solid @rare;
    border-top: 0;
    display: block;
    margin: 0;
    padding: @base * .75;
    text-align: left;
    .h-full-width();
    
    &:first-child {
      border-top: 1px solid @rare;
    }
  }
}