.h-list-group {
  line-height: 1;
  
  .h-list-group-item {
    border: 1px solid @list-group-border;
    border-top: 0;
    display: block;
    margin: 0;
    padding: @list-group-padding;
    text-align: left;
    
    &:first-child {
      border-top: 1px solid @list-group-border;
    }
  }
}