.h-pill {
  background: @medium-well;
  color: @raw;
  display: inline-block;
  font-size: @base * .5;
  padding: @base * .25 @base * .3125;
  vertical-align: middle;
}

.h-pill-inverted {
  background: @raw;
  color: @medium-well;
}