.h-title {
  border-bottom: 1px solid @rare;	
  display: block;
  font-size: @base * 3;
  font-weight: 700;
  line-height: 1;
  padding: 0 0 @base * 1.25;	
}

.h-subtitle {
  color: @medium-rare;
  font-size: @base * 2;
}