.h-title {
  border-bottom: 1px solid @rare;	
  display: block;  
  font-weight: 700;
  padding: 0 0 @base * 1.25;	
}

.h-subtitle {
  color: @medium-rare;
  display: block;
  font-size: 85%;  
}


@media only screen and (min-width: @md-break)
{
  .h-subtitle {
    display: inline;
  }
}