//alerts
@alert-border: @rare;
@alert-background: lighten(@alert-border, 7%);
@alert-color: @body-color;
@alert-padding: @base;

//badges
@badge-border: @rare;
@badge-color: @body-color;
@badge-fill-background: @rare;
@badge-font-size: @base * 1.1;
@badge-padding: round(@base * .667, 1);


//cards
@card-border: @rare;
@card-background: lighten(@alert-border, 7%);
@card-padding: @base;

//input groups
@input-group-margin: @form-stack-spacing;
@input-group-addon-background: @rare;
@input-group-addon-padding: @base;

//list gourps
@list-group-border: @rare;
@list-group-padding: @base;

//pills
@pill-background: @medium;
@pill-color: @raw;
@pill-inverted-background: @raw;
@pill-inverted-color: @body-color;
@pill-size: .5em;

//titles
@title-border: @medium-rare;
@title-color: @body-color;
@title-font-size: @base * 5;
@title-margin: @base;
@title-padding: @base;
@subtitle-color: @medium-rare;
@subtitle-font-size: @base * 2.5;

