//alerts
@alert-border: @rare;
@alert-background: lighten(@alert-border, 7%);
@alert-color: @body-color;
@alert-padding: @base;

//badges
@badge-border: @rare;
@badge-color: @body-color;
@badge-fill-background: @rare;
@badge-font-size: @base * 1.1;
@badge-padding: round(@base * .667, 1);


//cards
@card-border: @rare;
@card-background: lighten(@alert-border, 7%);
@card-padding: @base;

//pills
@pill-background: @medium;
@pill-color: @raw;
@pill-inverted-background: @raw;
@pill-inverted-color: @body-color;
@pill-size: .5em;

