<footer class="content">
  <div class="h-g footer-links">
    <div class="h-u-md-6-12">
      <h6>Core</h6>
      <a title="Getting Started" href="#getting-started">Getting Started</a>
      <a title="Base" href="#base">Base</a>
      <a title="Typography" href="#typography">Typography</a>
      <a title="Buttons" href="#buttons">Buttons</a>
      <a title="Tables" href="#tables">Tables</a>
      <a title="Menus" href="#menus">Menus</a>
      <a title="Forms" href="#forms">Forms</a>
      <a title="Grid" href="#grid">Grid</a>
      <a title="Grid Unit Sizes" href="#grid-unit-sizes">Grid Unit Sizes</a>
      <a title="Utilities" href="#utilities">Utilities</a>
      <a title="Customize" href="#customize-and-extend">Customize</a>
    </div>

    <div class="h-u-md-6-12">
      <h6>Components</h6>
      <a title="Alerts" href="#alerts">Alerts</a>
      <a title="Badges" href="#badges">Badges</a>
      <a title="Breadcrumbs" href="#breadcrumbs">Breadcrumbs</a>
      <a title="Button Groups" href="#button-groups">Button Groups</a>
      <a title="Cards" href="#cards">Cards</a>
      <a title="Input Groups" href="#input-groups">Input Groups</a>
      <a title="Pills" href="#pills">Pills</a>
      <a title="Switches" href="#switches">Switches</a>
      <a title="Titles" href="#titles">Titles</a>
    </div>
  </div>

  <div class="h-margin-top h-margin-bottom h-text-center">
    <small>Built with ♥ by <a title="Pim Brouwers' GitHub" href="https://github.com/pimbrouwers)" target="_blank">Pim Brouwers</a> in Toronto, ON. Licensed under <a title="Hydrogen License" href="https://github.com/pimbrouwers/hydrogen/blob/master/LICENSE" target="_blank">MIT</a>.</small>
  </div>
</footer>