/*=============================
  Utils
=============================*/

//flex
.h-flex {  
  display: flex;
}

.h-flex-column {
  flex-direction: column;
}

.h-flex-row {
  flex-direction: row;
}

.h-flex-reverse {
  flex-direction: reverse;
}

.h-flex-nowrap {
  flex-wrap: nowrap;
}

.h-flex-wrap {
  flex-wrap: wrap;
}

.h-flex-align-center {
  align-items: center;
}

.h-flex-align-end {
  align-items: flex-end;
}

.h-flex-align-start {
  align-items: flex-start;
}

.h-flex-align-self-center {
  align-self: center;
}

.h-flex-align-self-end {
  align-self: flex-end;
}

.h-flex-align-self-start {
  align-self: flex-start;
}

.h-flex-justify-center {
  justify-content: center;
}

.h-flex-justify-end {
  justify-content: flex-end;
}

.h-flex-justify-space-between {
  justify-content: space-between;
}

.h-flex-justify-start {
  justify-content: flex-start;
}

.h-flex-grow {
  flex-grow: 1;
}

//float
.h-left {
	float: left;
}

.h-right {
	float: right;
}

//margin
.h-margin-top {
	margin-top: @base;
}

.h-margin-right {
	margin-right: @base;
}

.h-margin-bottom {
	margin-bottom: @base;
}

.h-margin-left {
	margin-left: @base;
}

//padding
.h-padding-top {
	padding-top: @base;
}

.h-padding-right {
	padding-right: @base;
}

.h-padding-bottom {
	padding-bottom: @base;
}

.h-padding-left {
	margin-left: @base;
}

//size
.h-full-height {
  min-height: 100vh;
}

.h-full-width {
  width: 100%;
}

.h-full {
  .h-full-height;
  .h-full-width;
}

//text
.h-text-center {
  text-align: center;
}

.h-text-left {
  text-align: left;
}

.h-text-right {
  text-align: right;
}