//alerts
@alert-border: @rare;
@alert-background: lighten(@alert-border, 7%);
@alert-color: @body-color;
@alert-padding: @base;

//cards
@card-border: @rare;
@card-background: lighten(@alert-border, 7%);
@card-padding: @base;
