/*=============================
  Buttons
=============================*/
.h-btn {
	background: none;
	border: 1px solid @btn-border;
	color: @btn-color;
	font: inherit;
	display: inline-block;
	padding: @btn-padding;
	text-decoration: none;

	&:hover {
		background: lighten(@btn-border, 7%);
	}

	&[disabled] {
		opacity: .4;
		cursor: not-allowed;
	}
}

.h-btn-fill {
	background: @btn-border;

	&:hover {
		background: darken(@btn-border, 7%);
	}
}