/*=============================
	Buttons
=============================*/
.h-btn {
	background: none;
	border: 1px solid @rare;
	color: inherit;
	font: inherit;
	display: inline-block;
	padding:@base * .75;
	text-decoration: none;

	&:hover, &.active {
		background: @rare;
	}

	&[disabled] {
		opacity: .4;
		cursor: not-allowed;
	}
}

.h-btn-fill {
	background: @gray;

	&:hover, &.active {
		background: @rare;
	}
}