/*=============================
  Forms
=============================*/
.h-form {
	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	legend {
		border-bottom: 1px solid @form-legend-border;
		display:block;		
		margin: @form-legend-spacing 0;
		padding: @form-legend-spacing 0;		
		width: 100%;
	}

	label {
		margin: @form-label-margin 0;
	}

	input,
	select, 
	textarea {
		border: 1px solid @input-border;
		font: inherit;
		margin: 0 0 @form-stack-spacing;
		padding: @input-padding;

		&:focus {
			border-color: darken(@input-border, 10%);
		}

		&[required] {
			&:focus {
				border-color: red;
			}
		}

		&[disabled] {
			background: lighten(@input-border, 7%);
			cursor: not-allowed;
		}
	}

	input[type=checkbox]
	{
		margin: 3px 3px 3px 4px;
	}
}

.h-form-stack {
	input,
	select, 
	textarea,
	label {
		display: block;			
	}

	input[type=checkbox]
	{
		display: inline-block;
	}
}

