.h-c {
	margin: 0 auto;
	max-width: @xl-break;
	padding: 0 @grid-gutter;

	& > .h-g {
		margin:  0 -@grid-gutter; 
	}

	.h-g {
		.h-g { 
			margin:  0 -@grid-gutter; 
		}
	}

	.h-u      { 
		padding: 0 @grid-gutter; 
	}
}

.h-g:after {
    content: "";
    clear: both;
    display: table;
}

@media only screen { 
	.h-u {
	    float: left;
	    width: 100%;
	    box-sizing: border-box;
	}
}
