.generate-column(@prefix, @n, @i) {	
  .@{prefix}-@{i}-@{n} {
    width: round(@i * 100% / @n, 3);
  }	
}

.generate-column(@prefix, @n, @i) when (@i / @n = .25){
	.@{prefix}-1-4 {
    width: round(@i * 100% / @n, 3);
  }	
}

.generate-column(@prefix, @n, @i) when (round(@i / @n, 3) = .333){
	.@{prefix}-1-3 {
    width: round(@i * 100% / @n, 3);
  }	
}

.generate-column(@prefix, @n, @i) when (@i / @n = .5){
	.@{prefix}-1-2 {
    width: round(@i * 100% / @n, 3);
  }	
}

.generate-column(@prefix, @n, @i) when (round(@i / @n, 3) = .667){
	.@{prefix}-2-3 {
    width: round(@i * 100% / @n, 3);
  }	
}

.generate-column(@prefix, @n, @i) when (@i / @n = .75){
	.@{prefix}-3-4 {
    width: round(@i * 100% / @n, 3);
  }	
}

.generate-column(@prefix, @n, @i) when (@i / @n = 1){
	.@{prefix}-1 {
    width: round(@i * 100% / @n, 3);
  }	
}

.generate-columns(@prefix, @n, @i: 1) when (@i =< @n) {  
	.generate-column(@prefix, @n, @i);
  .generate-columns(@prefix, @n, (@i + 1));
}