.clr-c {
	margin: 0 auto;
	max-width: @xl-break;
	padding: 0 @grid-gutter;
}

.clr-g .clr-g { 
	margin:  0 -@grid-gutter; 
}

.clr-u      { 
	padding: 0 @grid-gutter; 
}

.clr-g:after {
    content: "";
    clear: both;
    display: table;
}

@media only screen { 
	.clr-u {
	    float: left;
	    width: 100%;
	    box-sizing: border-box;
	}
}
