/*=============================
  Menus
=============================*/
.h-menu-heading, .h-menu-link {
  color: inherit;
  display: block;
  margin: 0;
  padding: @base * .75;
}

.h-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.h-menu-link {
  text-decoration: none;

  &:hover {
    background-color: @rare;
  }	
}

.h-menu-inline {
  .h-menu-heading, .h-menu-list, .h-menu-link{
    display: inline-block;
  }
  
  .h-menu-item {
    display: inline-block;		
  }
}