.h-menu, .h-menu .h-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.h-menu-item {
	.h-menu-heading, .h-menu-link {
		display: inline-block;
		margin: 0;
		padding: @btn-padding @btn-padding * 2;
	}

	.h-menu-heading {
		font-weight: bold;
	}

	.h-menu-link {
		&:hover {
			background-color: @base-color;
		}	
	}
}

&.h-menu-inline {
	white-space: nowrap;
	
	.h-menu-item {
		display: inline-block;		
	}
}