/*=============================
Base
=============================*/
html, body, div, span, 
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr, 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

*, *:before, *:after {
  box-sizing: inherit;  
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

:focus {
  outline: 0;
}

img {
  height: auto;
  max-width: 100%;
}
