/*=============================
Base
=============================*/
html {
  box-sizing: border-box;
  font: 16px/@magic-number @font-family;
}

body {
  background: @raw;
  color: @body-color;  
}

*, *:before, *:after {
  box-sizing: inherit;  
  vertical-align: baseline;
}

body,
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p,
blockquote,
figure,
ol,
ul,
table,
dl {
  margin: 0;
  padding: 0;
  font: inherit;
  font-weight: normal;  
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr {
  margin-bottom: unit(@magic-number, rem);
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

:focus {
  outline: 0;
}

img {
  max-width: 100%;
  display: inline-block;
}
