/*=============================
  Tables
=============================*/
.h-tbl {
  border-bottom: 1px solid @rare;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;

  thead, tbody, tfoot { 
    vertical-align: middle 
  }

  th, td {			
    border-top: 1px solid @rare;
    padding:@base * .75;
    text-align: inherit;
  }

  th {
    font-weight: 700;
  }
}

.h-tbl-striped {
  th {
    background: @rare;
  }

  tr {
    &:nth-child(even) {
      background: @rare;
    }
  }
}