/*=============================
  Tables
=============================*/
.h-tbl {  
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;

  thead, tbody, tfoot { 
    vertical-align: middle 
  }

  th, td {			
    border-bottom: 1px solid @gray;
    padding:@base * .75;    
  }

  th {
    background: @gray;
    font-weight: 700;
    text-align: inherit;
  }

  tr {
    &:first-child {
      border-top: 1px solid @gray;
    }
  }
}

.h-tbl-striped { 
  tr {
    &:nth-child(even) {
      background: lighten(@gray, 5%, 'relative');
    }
  }
}