/*=============================
  Tables
=============================*/
.h-tbl {
  border-bottom: 1px solid @rare;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;

  thead, tbody, tfoot { 
    vertical-align: middle 
  }

  th, td {			
    border-top: 1px solid @rare;
    padding:@base * .75;    
  }

  th {
    background: @rare;
    font-weight: 700;
    text-align: inherit;
  }
}

.h-tbl-striped {
  &, th, td {
    border-color: lighten(@rare, 15%, 'relative');
  }

  tr {
    &:nth-child(even) {
      background: lighten(@rare, 15%, 'relative');
    }
  }
}