@sm-break: 30em;
@md-break: 48em;
@lg-break: 64em;
@xl-break: 76.5em;

@base: .75em;
@base-color: #ddd;

@grid-prefix: ~"h-u";
@grid-prefix-sm: %("%s-sm", @grid-prefix);
@grid-prefix-md: %("%s-md", @grid-prefix);
@grid-prefix-lg: %("%s-lg", @grid-prefix);
@grid-prefix-xl: %("%s-xl", @grid-prefix);
@grid-units: 12;
@grid-gutter: @base * 2;

@tbl-border-color: @base-color;
@tbl-gutter: @base;

@btn-color: @base-color;
@btn-padding: @base;

@form-legend-border: @base-color;
@form-legend-spacing: @base;
@form-stack-spacing: @base;

@input-padding: @base;
@input-border: @base-color;