@sm-break: 30em;
@md-break: 48em;
@lg-break: 64em;
@xl-break: 76.5em;

@base: .75em;
@base-color: #ddd;

@grid-prefix: ~"h-u";
@grid-prefix-sm: ~"h-u-sm";
@grid-prefix-md: ~"h-u-md";
@grid-prefix-lg: ~"h-u-lg";
@grid-prefix-xl: ~"h-u-xl";
@grid-units: 24;
@grid-units-secondary: 5;
@grid-gutter: @base * 2;

@tbl-border-color: @base-color;
@tbl-gutter: @base;

@btn-color: @base-color;
@btn-padding: @base;

@form-legend-border: @base-color;
@form-legend-spacing: @base;
@form-stack-spacing: @base;

@input-padding: @base;
@input-border: @base-color;