@import (less) "../node_modules/hydrogen-css/dist/hydrogen.min.css";

@base: 1rem;

@blue: rgb(0, 128, 255);
@gray: rgb(245, 245,245);
@purple: rgb(64, 0, 255);
@mint: rgb(0, 255, 128);

a {
  color: @blue;

  &:visited{
    color: darken(@blue, 7%);
  }
}

@import "_code.less";
@import "_content.less";
@import "_examples.less";
@import "_mixins.less";
@import "_splash.less";