<!-- Benefits -->
<section id="benefits">
  <div class="h-g">
    <div class="h-u h-u-md-1-3">
      <h4>Ultra-lightweight</h4>
      <p>Weighs in at just ~2.3KB (937 bytes gzipped).</p>
      <br>
    </div>
    <div class="h-u h-u-md-1-3">
      <h4>Unopinionated</h4>
      <p>Serves as the perfect base, leaving the decisions up to you.</p>
      <br>
    </div>
    <div class="h-u h-u-md-1-3">
      <h4>Responsive</h4>
      <p>Infinitely flexible grid, and optional preset responsive grid units.</p>
      <br>
    </div>
  </div>
</section>