<div class="docs h-c">
  <div class="h-g">
    <div class="h-u h-u-md-1-4 h-u-lg-1-5">
      {{>nav}}
    </div>

    <div class="h-u h-u-md-3-4 h-u-lg-4-5">
      {{>install}}

      <ul class="h-menu ">
        <li class="h-menu-item h-menu-children h-menu-hover">
          <a href="#" class="h-menu-link">Test</a>
          <ul class="h-menu-child">
            <li class="h-menu-item">
              <a href="#" class="h-menu-link">Test 2</a>
            </li>
            <li class="h-menu-item">
              <a href="#" class="h-menu-link">Test Long Name Name</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>