<div class="docs h-c">
  <div class="h-g">
    <div class="h-u h-u-md-1-4 h-u-lg-1-5">
      {{>nav}}
    </div>

    <div class="h-u h-u-md-3-4 h-u-lg-4-5">
      {{>install}}
    </div>
  </div>
</div>