<footer>
  <p>Built with &hearts; by <a href="https://github.com/pimbrouwers">Pim Brouwers</a> in Toronto, ON. Licensed under <a href="https://github.com/pimbrouwers/HydrogenCSS/blob/master/LICENSE">MIT</a>.</p>
</footer>