<!-- Installation -->
<h2 class="heading" id="install">Install</h2>
<p>Hydrogen is a modern CSS foundation. I avoid the use of the word "framework", because it implies bias. Hydrogen is entriely
  <em>unbiased</em> and offering up only a starting point with the
  <strong>intention</strong> of being overriden. It is small enough to be justifiable on small projects, and customizable enough
  to use on large applications.</p>
<br>
<p>To get started simply download the
  <a href="https://raw.githubusercontent.com/pimbrouwers/HydrogenCSS/master/hydrogen.min.css"
    target="_blank">base CSS file</a> (~2.3KB / 937 bytes gzipped) and the optional
  <a href="https://github.com/pimbrouwers/HydrogenCSS/blob/master/h-grid-units.min.css"
    target="_blank">grid units file</a>.</p>