<!-- nav -->
<nav class="links">
  <ul class="h-menu">
    <li>
      <a href="#install">Install</a>
    </li>
    <li>
      <a href="#typography">Typography</a>
    </li>
    <li>
      <a href="#lists">Lists</a>
    </li>
    <li>
      <a href="#menus">Menus</a>
    </li>
    <li>
      <a href="#tables">Tables</a>
    </li>
    <li>
      <a href="#buttons">Buttons</a>
    </li>
    <li>
      <a href="#forms">Forms</a>
    </li>
    <li>
      <a href="#grid">Grid</a>
    </li>
    <li>
      <a href="#grid-units">Grid Units</a>
    </li>
  </ul>
</nav>