<!-- Splash -->
<section id="splash">
    <div id="hydrogen">
        <span class="atomic">1</span>
        <span class="weight">1.0079</span>
        <span class="symbol">H</span>
        <span class="name">Hydrogen</span>
    </div>
    <h2>Light as air.</h2>
    <a href="https://github.com/pimbrouwers/HydrogenCSS" target="_blank" class="h-btn">GitHub</a>
</section>
